/* Mindfulness.css */
.mindfulness-container {
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
