@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

label,input{
  display:flex;
  flex-direction:column;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background: #f8f9fa;
  width: 100%;
}

.footer-section {
  flex: 1; /* This will make each section flexible and divide the space equally */
  display: flex; /* Use flexbox to center the link inside the section */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0px; /* You can adjust the padding to control the spacing inside the sections */
}

.footer-link {
  display: block;
  width: 100%; /* Take the full width */
  height: 100%; /* Take the full height */
  background-color: transparent;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center; /* Ensure the text is centered */
  padding: 20px 20px; /* Add padding to the top and bottom if needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: color 0.1s;
}

.icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-link svg {
  width: 3em;
  height: 3em;
}

.footer-link:hover {
  color: #d68071; /* Replace with the color you want on hover */
  background-color: #e9ecef; /* Optional: if you want to keep the background change on hover */

}

.footer-link:hover svg {
  fill: #d68071; /* Change to your desired hover color */
}

.self-confirm {
  color: #ffffff; /* White text, change if needed */
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 24px;
  border-radius: 10px; /* Adjust as needed */
  width: 100%; /* Full width */
  background: linear-gradient(#98b8cd, #cbb3e5); /* Example gradient colors */
}

.header {
  width: 95%;
  margin-left: 30px;
  margin-right: 30px;
}

.button-rows {
  display: inline-block;
  width: 95%;
  margin-left: 30px;
  margin-top: 20px;
}

.wave-hand-button {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
}

.wave-hand-button:hover {
  background-color: #f0f0f0;
}

.wave-hand-button.selected {
  background-color: #d68071;
  color: white;
  font-weight: bold;
}


.Modal {
  position: fixed;
  top: 50%; /* Center the modal vertically */
  left: 50%; /* Center the modal horizontally */
  transform: translate(-50%, -50%); /* Center the modal precisely */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Adjust the maximum width as needed */
  width: 100%;
  z-index: 1000; /* Ensure the modal is above other content */
}


.Modal-Body {
  padding: 10px; /* Adjust the padding as needed */
}

.large-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
}


/* Modal Buttons */
.Modal button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
  margin-left: 10px;
}

.Modal button:hover {
  background-color: #0056b3;
}




/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: block;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
}

/* Style for the dots button */
.dropdown .dots-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a transition effect */
}

/* Style for the dropdown content (hidden by default) */
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 100%;
  left: 70%;
}

/* Style for dropdown items */
.dropdown .dropdown-content button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Show the dropdown content on hover */
.dropdown:hover {
  background-color: #d68071;
}

.dropdown:hover .dots-button{
  color: white;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}




.tab-list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background: #f8f9fa;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.tab-list-item {
  display: block;
  width: 100%; /* Take the full width */
  height: 136px;
  background-color: transparent;
/*  background: #f8f9fa;*/
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center; /* Ensure the text is centered */
  padding: 0px 0px; /* Add padding to the top and bottom if needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: color 0.1s;
}


.tab-list-active {
  color: #d68071;
  background-color: #e9ecef;
  display: block;
  width: 100%;
  height: 136px;
  text-decoration: none;
  font-weight: bold;
  text-align: center; 
  padding: 0px 0px; /* Add padding to the top and bottom if needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: color 0.1s;
}


.tab-list-item:hover {
  color: #d68071; /* Replace with the color you want on hover */
  background-color: #e9ecef; /* Optional: if you want to keep the background change on hover */

}


.tabs {
  width: 95%;
  margin-left: 10px;
  margin-right: 30px;
}
